# source: https://gist.github.com/kogakure/149016
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.pdf
!Thesis/pics/*.pdf
!Paper/Revisions/*.pdf
!Thesis/Final_Thesis_Koen_Schaper_11-12-2017.pdf

# remove additional files created by presentation tex file
*.nav
*.snm
!Presentation/tud_white.pdf