.GUIComposerWS/
.metadata/
dvt/
RemoteSystemsTempFiles/

# Code Composer Studio
# http://processors.wiki.ti.com/index.php/Source_control_with_CCS
Debug/
Release/
.xdchelp
.config/
.launches/

# Do not upload memory dump
*.hex

# Do not upload pycharm specific files
.idea/

# Do not upload
*.pyc

# Do not upload video to git!
Python/Video experiments/Video_Straight/
Python/Video experiments/Video_Square/
Python/Video experiments/Video_Circle/
Python/Video experiments/Video_Straight_4s/
Python/Video experiments/Video_Solar/